* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    scroll-behavior: smooth;
}
/* Code for background image and text */
.header-text img{
    width: 100%;
    height: 100vh;
}
.header-text h1{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 40%;
}
.header-text p{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 40%;
}
.header-text a{
    position: absolute;
    bottom: 25%;
    left: 50%;
    width: 55px;
    height: 55px;
    align-items: center;
    filter: invert(1);
    justify-content: center;
}
.header-text a svg:hover{
    width: 50px;
    height: 50px;
    transition: 0.5s;
    filter: invert(1);
}
/* code about nav bar */
nav ul{
    position: absolute;
    width: 100%;
    display: flex;
    align-content:center;
    justify-content: flex-end;
    list-style: none;
    background-color: white;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#nav-icons a{
    width: 30px !important;
    padding: 0;
    margin-left: 25px;
    margin-top: 15px;
    height: 30px;
}
nav a:hover{
    background-color: gray;
    color: white;
    transition: 1s;
}
.brand-img{
    margin-right: auto;
}
/* code for side bar */
.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 99;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.sidebar-button{
    display: none;
}
@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .sidebar-button{
        display: block;
    }
}

.cards{
    display: flex;
    width: 100%;
}
.box{
    width: 25%;
    height: 250px;
    margin: auto;
    margin-top: 3%;
}