* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    scroll-behavior: smooth;
}

/* Code for background image and text */
.header-text img{
    width: 100%;
    height: 100vh;
}
.header-text h1{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 40%;
    color: white;
}
.header-text p{
    position: absolute;
    top: 40%;
    color: white;
    left: 10%;
    width: 40%;
}
.header-text a{
    position: absolute;
    bottom: 25%;
    left: 50%;
    width: 55px;
    height: 55px;
    align-items: center;
    filter: invert(1);
    justify-content: center;
}
.header-text a svg{
    transition: .5s;
}
.header-text a svg:hover{
    transform: scale(1.2);
}
/* code about nav bar */
nav ul{
    width: 100%;
    display: flex;
    align-content:center;
    justify-content: flex-end;
    list-style: none;
    background-color: white;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: ease-out;
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 0 gray;
}
#nav-icons a{
    width: 30px !important;
    padding: 0;
    margin-left: 25px;
    margin-top: 15px;
    height: 30px;
}
nav a:hover{
    box-shadow: inset 0 -100px 0 0 gray;
    color: white;
}
.brand-img{
    margin-right: auto;
}


/* code for side bar */
.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 99;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.sidebar-button{
    display: none;
}
@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .sidebar-button{
        display: block;
    }
}

/* drop down menu in navbar */
.hideOnMobile{
    overflow: hidden;
}

.hideOnMobile .dropbtn{
    border: none;
    outline: none;
    padding: 14px 20px;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    color: black;
    background-color: white;
}
.dropdown-content a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: black;
}
.dropdown-content a:hover{
    background-color: gray;
    color: white;
}
.hideOnMobile:hover .dropdown-content{
    display: block;
}

/* code about cards */
.cards{
    display: flex;
    width: 100%;
    background-color: white;
}
.box{
    width: 35%;
    height: 250px;
    margin: auto;
    margin-top: 3%;
    background-color: #cac5c5;
}
.slide-box{
    /* display: none; */
}
.slide-box {
    position: relative;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
}
.slide-box .map{
    position: absolute;
    right: 0;
    bottom: 10%;
}
.slide-box .info{
    position: absolute;
    left: 0;
    top: 10%;
}